<h1>Contest Registration</h1>
<form class="ContestRegistrationForm" name="contestRegistrationForm" ng-submit="contestRegistrationForm.$valid && register(registrant)" novalidate>

    <div class="grid-row">
        <div class="grid-half">
           <!-- Name -->
           <div ng-class="{'ContestRegistrationForm__field-error': contestRegistrationForm.$submitted && contestRegistrationForm.name.$invalid}" class="ContestRegistrationForm__field">
               <label class="ContestRegistrationForm__label" for="name">Name</label>
               <input ng-disabled="waitingForServer" server-validates class="ContestRegistrationForm__input" id="name" name="name" type="text" placeholder="John Doe" ng-model="registrant.name" required>
           </div> 
        </div>
        <div class="grid-half">
           <!-- Email -->
           <div ng-class="{'ContestRegistrationForm__field-error': contestRegistrationForm.$submitted && contestRegistrationForm.email.$invalid}" class="ContestRegistrationForm__field">
               <label class="ContestRegistrationForm__label" for="email">Email</label>
               <input ng-disabled="waitingForServer" server-validates class="ContestRegistrationForm__input" id="email" name="email" type="email" placeholder="email@address.com" ng-model="registrant.email" required>
           </div> 
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-half">
            <!-- Phone -->
            <div ng-class="{'ContestRegistrationForm__field-error': contestRegistrationForm.$submitted && contestRegistrationForm.phone.$invalid}" class="ContestRegistrationForm__field">
                <label class="ContestRegistrationForm__label" for="phone">Phone Number</label>
                <input ng-disabled="waitingForServer" server-validates class="ContestRegistrationForm__input" id="phone" name="phone" type="text" ng-model="registrant.phone" placeholder="(###) ###-####" mask="(999) 999-9999" required>
            </div>
        </div>
        <div class="grid-half">
            <!-- DOB -->
            <div ng-class="{'ContestRegistrationForm__field-error': contestRegistrationForm.$submitted && contestRegistrationForm.dob.$invalid}" class="ContestRegistrationForm__field">
                <label class="ContestRegistrationForm__label" for="dob">Date of Birth</label>
                <input ng-disabled="waitingForServer" server-validates class="ContestRegistrationForm__input" id="dob" name="dob" type="text" ng-model="registrant.dob" placeholder="MM/DD/YYYY" mask="19/39/2999" required>
            </div>
        </div>
    </div>
    
    <!-- Address -->
    <div class="ContestRegistrationForm__address">
        <!-- Street -->
        <div ng-class="{'ContestRegistrationForm__field-error': contestRegistrationForm.$submitted && contestRegistrationForm.street.$invalid}" class="ContestRegistrationForm__field">
            <label class="ContestRegistrationForm__label" for="street">Street Address</label>
            <input ng-disabled="waitingForServer" server-validates class="ContestRegistrationForm__input" id="street" name="street" type="text" placeholder="123 Road Lane" ng-model="registrant.address_street" required>
        </div>

        <div class="grid-row">
            <div class="grid-third">
                <!-- City -->
                <div ng-class="{'ContestRegistrationForm__field-error': contestRegistrationForm.$submitted && contestRegistrationForm.city.$invalid}" class="ContestRegistrationForm__field">
                    <label class="ContestRegistrationForm__label" for="city">City</label>
                    <input ng-disabled="waitingForServer" server-validates class="ContestRegistrationForm__input" id="city" name="city" type="text" placeholder="City" ng-model="registrant.address_city" required>
                </div>
            </div>
            <div class="grid-third">
                <!-- State -->
                <div ng-class="{'ContestRegistrationForm__field-error': contestRegistrationForm.$submitted && contestRegistrationForm.state.$invalid}" class="ContestRegistrationForm__field">
                    <label class="ContestRegistrationForm__label" for="state">State</label>
                    <select class="ContestRegistrationForm__input" name="state" id="state" ng-model="registrant.address_state" ng-options="state.name as state.name for state in states" required></select>
                </div>
            </div>
            <div class="grid-third">
                <!-- Zip -->
                <div ng-class="{'ContestRegistrationForm__field-error': contestRegistrationForm.$submitted && contestRegistrationForm.zip.$invalid}" class="ContestRegistrationForm__field">
                    <label class="ContestRegistrationForm__label" for="zip">Zip Code</label>
                    <input ng-disabled="waitingForServer" server-validates class="ContestRegistrationForm__input" id="zip" name="zip" type="text" placeholder="12345" ng-model="registrant.address_zip" mask="99999" required>
                </div>
            </div>
        </div>
    </div>

    <!-- Official Rules -->
    <div ng-class="{'ContestRegistrationForm__field-error': contestRegistrationForm.$submitted && contestRegistrationForm.agree_rules.$invalid}" class="ContestRegistrationForm__field">
        <input ng-disabled="waitingForServer" server-validates class="ContestRegistrationForm__input" name="agree_rules" id="agree_rules" type="checkbox" ng-model="registrant.agree_rules" required>
        <label class="ContestRegistrationForm__label" for="agree_rules">I agree to the <a modal tpl="rules" href="#">official rules</a>.</label>
    </div>

    <!-- Error -->
    <p class="ContestRegistrationForm__error-text" ng-show="contestRegistrationForm.$submitted && contestRegistrationForm.$invalid">Please fix the errors in red</p>

    <!-- Submit -->
    <div class="ContestRegistrationForm__buttons grid-row">
        <button class="ContestRegistrationForm__button grid-half" type="button" ng-click="$close()" ng-disabled="waitingForServer">Cancel</button>
        <button class="ContestRegistrationForm__button grid-half" type="submit" ng-disabled="waitingForServer">
            <span ng-hide="waitingForServer">Submit</span>
            <img class="ContestRegistrationForm__spinner" src="/images/spinner.gif" ng-show="waitingForServer">
        </button>
    </div>

</form>